Node-red flow/Node-red_flow.json
[{"id":"f7641c4.e68b8e","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"81d2b79.14dc348","type":"json","z":"f7641c4.e68b8e","name":"","property":"payload","action":"obj","pretty":false,"x":250,"y":300,"wires":[["f015356e.376b88"]]},{"id":"9bfa5bf3.00d6e8","type":"function","z":"f7641c4.e68b8e","name":"","func":"input = msg.payload;\nif(input.type == \"Everything\") {\n    msg.url = \"https://newsapi.org/v2/everything?q=\"+input.content+\"&from=\"+input.from+\"&to=\"+input.to+\"&language=\"+input.language+\"&apiKey=52b50ca528864c67a510c6c04eb08645\";\n} else if (input.type == \"Top_headlines\"){\n    msg.url = \"https://newsapi.org/v2/top-headlines?q=\"+input.content+\"&country=\"+input.country+\"&category=\"+input.category+\"&apiKey=52b50ca528864c67a510c6c04eb08645\";\n} else {\n    msg.url = \"https://newsapi.org/v2/sources?category=\"+input.category+\"&language=\"+input.language+\"&country=\"+input.country+\"&apiKey=52b50ca528864c67a510c6c04eb08645\";\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":300,"wires":[["542256c2.df36d8"]]},{"id":"542256c2.df36d8","type":"http request","z":"f7641c4.e68b8e","name":"","method":"GET","ret":"obj","paytoqs":"body","url":"","tls":"","persist":false,"proxy":"","authType":"","x":750,"y":300,"wires":[["c1dd301c.f1896"]]},{"id":"d370d101.c6f34","type":"change","z":"f7641c4.e68b8e","name":"","rules":[{"t":"move","p":"payload.articles","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":420,"wires":[["1cf43591.19314a"]]},{"id":"1cf43591.19314a","type":"function","z":"f7641c4.e68b8e","name":"","func":"var num;\nif (msg.payload.length<5){\n    num = msg.payload.length;\n}\nelse{\n    num = 4;\n}\nlet news = [];\nvar newOrder = { \"id\": \"\", \"title\":\"\", \"description\": \"\", \"content\":\"\", \"url\": \"\", \"urlImage\": \"\", \"author\":\"\" , \"publishAt\":\"\" }; //array for message objects\nfor (i = 0; i < num; i++) {\n    newOrder.id = \"N\";\n    newOrder.title = msg.payload[i].title;\n    newOrder.description = msg.payload[i].description;\n    newOrder.url = msg.payload[i].url;\n    newOrder.urlImage = msg.payload[i].urlToImage;\n    newOrder.author = msg.payload[i].author;\n    newOrder.publishAt = msg.payload[i].publishedAt;\n    news.push(newOrder);\n    newOrder = { \"id\": \"\", \"title\":\"\", \"description\": \"\", \"content\":\"\", \"url\": \"\", \"urlImage\": \"\", \"author\":\"\" , \"publishAt\":\"\" };\n}\nmsg.payload = news;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":740,"y":380,"wires":[["7cbf1dbf.7ca064"]]},{"id":"c1dd301c.f1896","type":"json","z":"f7641c4.e68b8e","name":"","property":"payload","action":"obj","pretty":false,"x":930,"y":300,"wires":[["d370d101.c6f34"]]},{"id":"f015356e.376b88","type":"switch","z":"f7641c4.e68b8e","name":"Check Type","property":"payload.type","propertyType":"msg","rules":[{"t":"eq","v":"weather","vt":"str"},{"t":"neq","v":"weather","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":410,"y":260,"wires":[["8d0ec6d9.cd67e8"],["9bfa5bf3.00d6e8"]]},{"id":"2aabae24.429f62","type":"function","z":"f7641c4.e68b8e","name":"","func":"var city = global.get(\"city\");\nvar country = global.get(\"country\");\nmsg.location = {\"city\":city, \"country\":country};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":140,"wires":[["cb08237b.c28fd"]]},{"id":"8d0ec6d9.cd67e8","type":"change","z":"f7641c4.e68b8e","name":"","rules":[{"t":"move","p":"payload.city","pt":"msg","to":"city","tot":"global"},{"t":"move","p":"payload.country","pt":"msg","to":"country","tot":"global"},{"t":"move","p":"payload.thresh","pt":"msg","to":"thresh","tot":"global"},{"t":"move","p":"payload.number","pt":"msg","to":"number","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":220,"wires":[["5ad23ffb.9337a"]]},{"id":"5ad23ffb.9337a","type":"trigger","z":"f7641c4.e68b8e","name":"","op1":"1","op2":"0","op1type":"global","op2type":"str","duration":"-12","extend":false,"overrideDelay":false,"units":"hr","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":830,"y":220,"wires":[["2aabae24.429f62"]]},{"id":"7cbf1dbf.7ca064","type":"json","z":"f7641c4.e68b8e","name":"","property":"payload","action":"str","pretty":false,"x":910,"y":380,"wires":[["d722c680.9e2e68","40a62b.c683a9d4"]]},{"id":"a140b20.6afc55","type":"function","z":"f7641c4.e68b8e","name":"","func":"var thresh = parseInt(global.get(\"thresh\"));\nvar number = global.get(\"number\");\nglobal.set(\"tempc\",msg.payload.tempc);\nglobal.set(\"detail\",msg.payload.description);\nif(msg.payload.tempc>=thresh){\n    msg.payload = \"Warning!!! Temperature is higher than \"+thresh.toString()+\"C\";\n    msg.topic = number;\n}\nelse{\n    msg.payload = null;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":900,"y":140,"wires":[["a4b0bcc2.addc1","c4e52f5e.eba8"]]},{"id":"c4e52f5e.eba8","type":"switch","z":"f7641c4.e68b8e","name":"","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"null","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1090,"y":260,"wires":[["e98f1049.5b4eb"]]},{"id":"cb08237b.c28fd","type":"openweathermap","z":"f7641c4.e68b8e","name":"","wtype":"current","lon":"","lat":"","city":"","country":"","language":"en","x":690,"y":140,"wires":[["a140b20.6afc55"]]},{"id":"e98f1049.5b4eb","type":"twilio out","z":"f7641c4.e68b8e","twilio":"93d2d732.504ca8","twilioType":"sms","url":"","number":"","name":"Send","x":1230,"y":340,"wires":[]},{"id":"430bb4d3.7abe3c","type":"mqtt in","z":"f7641c4.e68b8e","name":"","topic":"EN2560/IOTproject/out/group12","qos":"2","datatype":"auto","broker":"2e8f7c63.5d2e04","nl":false,"rap":true,"rh":0,"x":230,"y":120,"wires":[["81d2b79.14dc348"]]},{"id":"d722c680.9e2e68","type":"mqtt out","z":"f7641c4.e68b8e","name":"","topic":"EN2560/IOTproject/in/group12","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"2e8f7c63.5d2e04","x":1160,"y":420,"wires":[]},{"id":"a4b0bcc2.addc1","type":"function","z":"f7641c4.e68b8e","name":"","func":"msg.payload = [{\n    \"id\":\"T\",\n    \"value\":global.get(\"tempc\"),\n    \"description\":global.get(\"detail\")\n}];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1130,"y":80,"wires":[["e29bffd0.a40da","67a7e3ef.ba026c"]]},{"id":"e29bffd0.a40da","type":"mqtt out","z":"f7641c4.e68b8e","name":"","topic":"EN2560/IOTproject/in/group12","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"2e8f7c63.5d2e04","x":1330,"y":140,"wires":[]},{"id":"67a7e3ef.ba026c","type":"debug","z":"f7641c4.e68b8e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1330,"y":40,"wires":[]},{"id":"40a62b.c683a9d4","type":"debug","z":"f7641c4.e68b8e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1060,"y":540,"wires":[]},{"id":"93d2d732.504ca8","type":"twilio-api","name":"Send SMS","sid":"AC9731beca12f8aa0a082d3bc86291825c","from":"+17542256354"},{"id":"2e8f7c63.5d2e04","type":"mqtt-broker","name":"","broker":"Broker.mqttdashboard.com/","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""}]